1. Write Python Program to Swap Two Variables

In [26]:
x = 3
y = 9

x,y = y,x

print (("x= " + str(x)),'\n', ("y= " + str(y)))

x= 9
 y= 3

2. Write Python Program to Check Leap Year

In [28]:
def is_leap_year(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False

# Test the function
year = 2002
if is_leap_year(year):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

year = 1904
if is_leap_year(year):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

year = 2011
if is_leap_year(year):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

2002 is not a leap year
1904 is a leap year
2011 is not a leap year

3. Write Python Program to Find the Sum of Natural Numbers

In [32]:
def sum_of_natural_numbers(n):
    total = 0
    for i in range(1, n+1):
        total += i
    return total

# Test the function
n = 10
result = sum_of_natural_numbers(n)
print(f"The sum of natural numbers up to {n} is {result}")

n = 20
result = sum_of_natural_numbers(n)
print(f"The sum of natural numbers up to {n} is {result}")

The sum of natural numbers up to 10 is 55
The sum of natural numbers up to 20 is 210

In [34]:
def sum_of_nn(n):
    total = 0
    for i in range(1, n+1):
        total += i
    return total

n= 10
result = sum_of_nn(n)
print(result)

55